/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: 1fr 135px 1fr;
  margin: 92px 24px;
  font-size: 18px;
}

.header__navigation {
  display: flex;
  list-style: circle;
  gap: 30px;
  position: relative;
  top: 43px;
  left: 26px;
}

.header__navigation li:nth-child(1) {
  list-style-type: none;
}

.header__navigation li:nth-child(n + 2) {
  text-decoration: underline; 
  text-underline-offset: 4px; 
}

.header__address {
  position: relative;
  right: -192px;
  top: 4px;
  font-style: normal;
  line-height: 25px;
  text-underline-offset: 3px;
}

.cover__color-overlay {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  position: relative;
  z-index: 1;
}

.cover {
  position: relative;
  background-image: url(/images/cover.jpg);
  background-size: cover;
  background-position: center;
  height: 757px;
}

.cover__title {
  position: absolute;
  top: 158px;
  left: 50px;
  font-size: 100px;
  letter-spacing: 30px;
  line-height: 128px;
  color: white;
  z-index: 2;
}

.aligned-text_center {
  position: relative;
  left: 285px;
}

.aligned-text_right {
  position: relative;
  top: -7px;
  left: 584px;
}

.cover__title .letter-spacing-extended {
  letter-spacing: 60px;
}

.cover__description {
  display: flex;
  justify-content: space-around;
  position: relative;
  bottom: 89px;
  color: white;
  z-index: 2;
  font-size: 22px;
}

.cover__description .cover__description-text {
  word-spacing: 19px;
  margin-left: 35px;
  margin-right: 0;
  color: white;
}

.cover__description .bet-button {
  position: relative;
  right: 9px;
  bottom: 13px;
  background: transparent;
  border: 1px solid white;
  font-size: 22px;
  color: white;
  padding: 12px 32px 11px 31px;
}

.lots__heading {
  font-size: 40px;
}
