/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: 1fr 135px 1fr;
  margin: 92px 24px;
  font-size: 18px;
}

.header__navigation {
  display: flex;
  list-style: circle;
  gap: 30px;
  position: relative;
  top: 43px;
  left: 26px;
}

.header__navigation li:nth-child(1) {
  list-style-type: none;
}

.header__navigation li:nth-child(n + 2) {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__address {
  position: relative;
  right: -192px;
  top: 4px;
  font-style: normal;
  line-height: 25px;
  text-underline-offset: 3px;
}

.cover__color-overlay {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  position: relative;
  z-index: 1;
}

.cover {
  position: relative;
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-position: center;
  height: 757px;
}

.cover__title {
  position: absolute;
  top: 158px;
  left: 50px;
  font-size: 100px;
  letter-spacing: 30px;
  line-height: 128px;
  color: white;
  z-index: 2;
}

.aligned-text_center {
  position: relative;
  left: 285px;
}

.aligned-text_right {
  position: relative;
  top: -7px;
  left: 584px;
}

.cover__title .letter-spacing-extended {
  letter-spacing: 60px;
}

.cover__description {
  display: flex;
  justify-content: space-around;
  position: relative;
  bottom: 89px;
  color: white;
  z-index: 2;
  font-size: 22px;
}

.cover__description .cover__description-text {
  word-spacing: 19px;
  margin-left: 35px;
  margin-right: 0;
  color: white;
}

.cover__description .bet-button {
  position: relative;
  right: 9px;
  bottom: 13px;
  background: transparent;
  border: 1px solid white;
  font-size: 22px;
  color: white;
  padding: 12px 32px 11px 31px;
}

.lots {
  margin-top: 180px;
}

.lots__heading {
  font-size: 40px;
  margin-left: 65px;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin: 29px 25px;
}

.lots__card-list-item {
  list-style-type: none;
  color: white;
}

.card-link {
  text-decoration: none;
}

article .cover__color-overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.card__title {
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  margin-top: 48px;
  margin-left: 40px;
}

.card__text {
  font-size: 20px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 55px;
}

.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
  background-size: cover;
  background-position: center;
  height: 563px;
}

.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
  background-size: cover;
  background-position: center;
  height: 563px;
}

.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
  background-size: cover;
  background-position: center;
  height: 563px;
}

.lots__look-more-link {
  font-size: 20px;
  margin-left: 65px;
  text-underline-offset: 4px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
  margin-left: 24px;
  margin-right: 24px;
  height: 595px;
  margin-bottom: 340px;
}

.about__logo-image {
  width: 240px;
  height: 240px;
  position: relative;
  top: 183px;
  left: 49px;
}

.about__reading {
  margin-top: 285px;
  margin-left: -9px;
  margin-right: 10px;
}

.about__title {
  font-size: 40px;
  margin-bottom: 100px;
}

.about__text {
  font-size: 20px;
}

.about__text p {
  margin-bottom: 28px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 70px;
}

.footer__address {
  position: relative;
  left: 54px;
  top: -12px;
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  text-underline-offset: 3px;
}

.footer__menu {
  position: relative;
  left: 4px;
  top: -12px;
  font-size: 18px;
  line-height: 22px;
}

.footer__menu-list {
  list-style-type: none;
  text-align: center;
}

.footer__menu-list li:nth-child(1) a {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: end;
  margin-right: 46px;
  margin-top: -12px;
  gap: 50px;
  list-style-type: none;
}

.footer__social-icon {
  height: 48px;
  width: 48px;
}
